<form action="/links" method="post">
  <label for="address"> Address:
    <input type="text" name="address">
  </label>
  <br>
  <label for="title"> Title:
    <input type="text" name="title">
  </label>
  <br>
  <input type="submit" value="Submit">
</form>
