<h1>Sign Up</h1>
<form action="/signup" method="post">
  Email:    <input type="text" name="email" />
  <br><br>
  Password: <input type="password" name="password" />
  <br><br><br>
  <input type="submit" value="Sign Up" />
</form>
