<h1>Sign Up</h1>
<form action="/signup" method="post">
  Email:            <input type="text" name="email" value="<%= @user.email %>" />
  <br><br>
  Password:         <input type="password" name="password" />
  <br><br>
  Confirm Password: <input type="password" name="password_confirmation" />
  <br><br><br>
  <input type="submit" value="Sign Up" />
</form>
