<html>
  <head>
    <title>Bookmark Manager</title>
    <style>
    label {
      display:inline-block;
      width:200px;
      margin-right:10px;
      margin-bottom: 10px;
    }
    li {
      margin-left: 30px;
    }
    </style>
  </head>

  <body>
    <% if current_user %>
      Welcome, <%= current_user.email %>
    <% else %>
      <br>
    <% end %>
    <%= yield %>
    <br><br>
    <% if flash[:errors] && !flash[:errors].empty? %>
      Please correct the following errors:
      <ul id='errors'>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
  </body>
</html>
